- if current_user.exam_submissions.open.any?
  %h3 Exams
  
- current_user.exam_submissions.open.each do |exam_submission|
  .assignment
    = exam_submission.exam.name
    %span.right= exam_submission.submission_status.name