%h1.form-header Exams

%p.prompt
  = link_to "Create Exam", new_admin_exam_path

%table.admin
  %thead
    %tr
      %th Name
      %th 
  %tbody
    - @exams.each do |exam|
      %tr{:class => cycle('even','odd')}
        %td= link_to exam.name, edit_admin_exam_path(exam)
        %td.action= link_to("Destroy", admin_exam_path(exam), :confirm => "Are you sure you wish to delete this exam?", :method => 'DELETE', :class => "delete")