/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 5, ../../../app/stylesheets/partials/_layout.sass */
html, body {
  height: 100%;
}

/* line 8, ../../../app/stylesheets/partials/_layout.sass */
body {
  font-family: "Gill Sans", "Tacoma", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: #454544 url(/images/gradient.png) repeat-x;
}

/* line 14, ../../../app/stylesheets/partials/_layout.sass */
#container {
  width: 970px;
  margin: 0 auto;
  min-height: 100%;
  background-color: white;
  -moz-box-shadow: black 0px 10px 10px inset;
  -webkit-box-shadow: black 0px 10px 10px inset;
  -o-box-shadow: black 0px 10px 10px inset;
  box-shadow: black 0px 10px 10px inset;
}

/* line 21, ../../../app/stylesheets/partials/_layout.sass */
#content {
  padding: 40px 0 10px 0;
  margin: 0 auto;
  width: 930px;
}

/* line 26, ../../../app/stylesheets/partials/_layout.sass */
a {
  color: #002e6e;
}
/* line 28, ../../../app/stylesheets/partials/_layout.sass */
a:visited {
  color: #002e6e;
}
/* line 30, ../../../app/stylesheets/partials/_layout.sass */
a:hover {
  color: black;
}

/* line 6, ../../../app/stylesheets/partials/_dashboard.sass */
.two-col {
  width: 930px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 8, ../../../app/stylesheets/partials/_dashboard.sass */
.two-col #main {
  display: inline;
  float: left;
  margin-right: 0;
  width: 920px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .two-col #main {
  overflow-x: hidden;
}
/* line 10, ../../../app/stylesheets/partials/_dashboard.sass */
.two-col div.left {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 455px;
  padding-right: 67.5px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .two-col div.left {
  overflow-x: hidden;
}
/* line 13, ../../../app/stylesheets/partials/_dashboard.sass */
.two-col div.right {
  display: inline;
  float: left;
  margin-right: 0;
  width: 377.5px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .two-col div.right {
  overflow-x: hidden;
}
/* line 17, ../../../app/stylesheets/partials/_dashboard.sass */
.two-col div.left h4, .two-col div.right h4 {
  margin: 1em 0;
  font-size: 1.25em;
}
/* line 21, ../../../app/stylesheets/partials/_dashboard.sass */
.two-col ul li {
  margin-bottom: 0.25em;
}

/* line 24, ../../../app/stylesheets/partials/_dashboard.sass */
.profile {
  border-bottom: 1px solid silver;
  padding: 15px 0;
}
/* line 28, ../../../app/stylesheets/partials/_dashboard.sass */
.profile .block {
  float: right;
}
/* line 32, ../../../app/stylesheets/partials/_dashboard.sass */
.profile h1 {
  margin: 0;
  display: inline-block;
}
/* line 36, ../../../app/stylesheets/partials/_dashboard.sass */
.profile h1 img {
  vertical-align: middle;
  padding: 2px;
  border: 1px solid;
  border-color: #cbcbcb;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  background-color: #cbcbcb;
  margin-right: 10px;
}

/* line 45, ../../../app/stylesheets/partials/_dashboard.sass */
.channel {
  margin-bottom: 0.5em;
}
/* line 48, ../../../app/stylesheets/partials/_dashboard.sass */
.channel .title {
  border-bottom: 2px groove;
  border-color: #70130b;
  margin-bottom: 0.25em;
  padding-bottom: 3px;
}
/* line 54, ../../../app/stylesheets/partials/_dashboard.sass */
.channel .title a {
  display: inline-block;
  color: black;
}
/* line 58, ../../../app/stylesheets/partials/_dashboard.sass */
.channel .title span.right {
  float: right;
  font-size: 0.75em;
  vertical-align: bottom;
  margin-top: 0.25em;
  color: #555555;
}
/* line 65, ../../../app/stylesheets/partials/_dashboard.sass */
.channel .message {
  margin-left: 10px;
}
/* line 68, ../../../app/stylesheets/partials/_dashboard.sass */
.channel .message .handle {
  display: inline-block;
  padding-right: 1em;
  color: #555555;
  vertical-align: top;
  width: 100px;
}
/* line 74, ../../../app/stylesheets/partials/_dashboard.sass */
.channel .message .body {
  display: inline-block;
  width: 320px;
}

/* line 78, ../../../app/stylesheets/partials/_dashboard.sass */
.assignment {
  margin-bottom: 0.25em;
  border-bottom: 1px solid white;
}
/* line 82, ../../../app/stylesheets/partials/_dashboard.sass */
.assignment .right {
  float: right;
}

/* line 85, ../../../app/stylesheets/partials/_dashboard.sass */
.blog ul {
  margin-left: 20px;
  list-style-type: disc;
}

/* line 1, ../../../app/stylesheets/partials/_menu.sass */
#navigation {
  background: #eeeeee;
  padding: 10px;
  color: silver;
  -moz-box-shadow: black 0px 0px 5px 0;
  -webkit-box-shadow: black 0px 0px 5px 0;
  -o-box-shadow: black 0px 0px 5px 0;
  box-shadow: black 0px 0px 5px 0;
  width: 950px;
  position: fixed;
}
/* line 9, ../../../app/stylesheets/partials/_menu.sass */
#navigation .logo {
  display: inline-block;
  margin-right: 8px;
  color: gray;
  text-shadow: 0 1px 0 white;
}
/* line 15, ../../../app/stylesheets/partials/_menu.sass */
#navigation .logo img {
  vertical-align: middle;
}
/* line 17, ../../../app/stylesheets/partials/_menu.sass */
#navigation a {
  color: black;
  padding: 4px 8px;
}
/* line 20, ../../../app/stylesheets/partials/_menu.sass */
#navigation a:visited {
  color: black;
}
/* line 22, ../../../app/stylesheets/partials/_menu.sass */
#navigation a:hover {
  color: #002e6e;
}
/* line 25, ../../../app/stylesheets/partials/_menu.sass */
#navigation a.session {
  color: gray;
}
/* line 27, ../../../app/stylesheets/partials/_menu.sass */
#navigation a.session:hover {
  color: black;
}
/* line 30, ../../../app/stylesheets/partials/_menu.sass */
#navigation span.right {
  float: right;
}

/* line 1, ../../../app/stylesheets/partials/_session.sass */
.rmu_seal {
  float: right;
  background-image: url(/images/rmu_seal.png);
  width: 300px;
  height: 300px;
  margin: 1em;
}

/* line 8, ../../../app/stylesheets/partials/_session.sass */
img.rmu-header {
  margin-bottom: 2em;
}

/* line 11, ../../../app/stylesheets/partials/_session.sass */
#session {
  margin: 50px auto;
  width: 600px;
  padding: 30px 0;
  background-color: #f5f5f5;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: black 0px 0px 10px 0;
  -webkit-box-shadow: black 0px 0px 10px 0;
  -o-box-shadow: black 0px 0px 10px 0;
  box-shadow: black 0px 0px 10px 0;
}
/* line 20, ../../../app/stylesheets/partials/_session.sass */
#session form {
  margin: 0 auto;
}
/* line 23, ../../../app/stylesheets/partials/_session.sass */
#session form input[type="submit"] {
  float: none;
  margin: 0.5em 0;
}
/* line 27, ../../../app/stylesheets/partials/_session.sass */
#session form label.infield {
  width: auto;
  float: none;
  color: #888888;
  position: absolute;
  top: 10px;
  left: 78px;
  font-weight: normal;
}
/* line 35, ../../../app/stylesheets/partials/_session.sass */
#session form label.infield:after {
  content: "";
}
/* line 38, ../../../app/stylesheets/partials/_session.sass */
#session form p {
  position: relative;
}
/* line 43, ../../../app/stylesheets/partials/_session.sass */
#session .header {
  background: #aa0000;
  color: white;
  padding: 10px;
  margin-top: -30px;
  margin-bottom: 30px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
}

/* line 52, ../../../app/stylesheets/partials/_session.sass */
.clear {
  clear: both;
}

/* line 55, ../../../app/stylesheets/partials/_session.sass */
body.session {
  height: auto;
  background: #bbbbbb;
}

/* line 9, ../../../app/stylesheets/partials/_admin.scss */
a.delete {
  padding: 0 0 0 16px;
  background: url(../../images/minus.png) no-repeat left center;
  color: #70130B;
  font-size: 1em;
}

/* line 1, ../../../app/stylesheets/partials/_forms.sass */
h1.form-header {
  background-color: #00316a;
  color: white;
  margin: 0 0 1.5em;
  width: 450px;
  padding: 5px;
  font: bold 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 9, ../../../app/stylesheets/partials/_forms.sass */
form.bp {
  width: 450px;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 59, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
/* line 48, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 50, ../../../../../.rvm/gems/ruby-1.9.2-p0@rmu/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}
/* line 14, ../../../app/stylesheets/partials/_forms.sass */
form.bp label {
  font-weight: normal;
  font-size: 0.9em;
  color: #333333;
  display: inline-block;
  text-align: right;
  width: 110px;
  margin-right: 15px;
}
/* line 22, ../../../app/stylesheets/partials/_forms.sass */
form.bp label:after {
  content: ":";
}
/* line 24, ../../../app/stylesheets/partials/_forms.sass */
form.bp p {
  margin: 0.25em 0;
}
/* line 27, ../../../app/stylesheets/partials/_forms.sass */
form.bp p.submit {
  overflow: hidden;
  *zoom: 1;
  padding: 1px 0;
  margin: 1em 0;
}
/* line 33, ../../../app/stylesheets/partials/_forms.sass */
form.bp input[type="submit"] {
  float: right;
  margin: 0;
  background: #bfbfbf;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #bbbbbb));
  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #bbbbbb 100%);
  background-image: linear-gradient(top, #e5e5e5 0%, #bbbbbb 100%);
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  -o-border-radius: 3px / 3px;
  -ms-border-radius: 3px / 3px;
  -khtml-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  -moz-box-shadow: #f5f5f5 0px 1px 3px 0;
  -webkit-box-shadow: #f5f5f5 0px 1px 3px 0;
  -o-box-shadow: #f5f5f5 0px 1px 3px 0;
  box-shadow: #f5f5f5 0px 1px 3px 0;
  color: #333333;
  font-weight: bold;
  padding: 4px;
  text-align: center;
  text-shadow: #eeeeee 1px 0 1px;
}
/* line 47, ../../../app/stylesheets/partials/_forms.sass */
form.bp a.cancel {
  display: block;
  margin-top: 5px;
  float: left;
  text-decoration: underline;
}
/* line 53, ../../../app/stylesheets/partials/_forms.sass */
form.bp h2 {
  font-size: 1.2em;
}
/* line 56, ../../../app/stylesheets/partials/_forms.sass */
form.bp hr {
  color: #dddddd;
  background: #dddddd;
  height: 1px;
  margin: 1.5em 0;
  width: 100%;
  border: none;
}
/* line 65, ../../../app/stylesheets/partials/_forms.sass */
form.bp p {
  margin: 0 0 0.5em 0;
}
/* line 68, ../../../app/stylesheets/partials/_forms.sass */
form.bp p.info {
  margin: 0 0 0.5em 135px;
  color: #666666;
  font-size: 0.8em;
}
/* line 73, ../../../app/stylesheets/partials/_forms.sass */
form.bp p.no-label, form.bp .no-label {
  margin: 0 0 0 135px;
}
/* line 76, ../../../app/stylesheets/partials/_forms.sass */
form.bp input.text, form.bp input.title, form.bp input[type="email"], form.bp input[type="text"], form.bp input[type="password"] {
  font-size: 0.9em;
  color: #555555;
}
/* line 80, ../../../app/stylesheets/partials/_forms.sass */
form.bp select {
  font-size: 0.8em;
  color: #555555;
}
/* line 86, ../../../app/stylesheets/partials/_forms.sass */
form.bp table label {
  font-size: 1em;
  width: 100%;
  margin: 0;
  text-align: left;
}
/* line 91, ../../../app/stylesheets/partials/_forms.sass */
form.bp table label:after {
  content: "";
}
/* line 94, ../../../app/stylesheets/partials/_forms.sass */
form.bp table input[type="checkbox"], form.bp table input.checkbox, form.bp table input[type="radio"], form.bp table input.radio {
  margin: -0.25em 0 0 0;
}
/* line 97, ../../../app/stylesheets/partials/_forms.sass */
form.bp table select {
  font-size: 1em;
  margin: 0;
}
/* line 102, ../../../app/stylesheets/partials/_forms.sass */
form.bp a.add_nested_fields {
  padding: 0 0 0 16px;
  background: url(../../images/plus.png) no-repeat left center;
  margin-top: 1em;
  display: block;
}
/* line 108, ../../../app/stylesheets/partials/_forms.sass */
form.bp a.remove_nested_fields {
  padding: 0 0 0 16px;
  background: url(../../images/minus.png) no-repeat left center;
  color: #70130B;
  font-size: 0.8em;
}

/* line 113, ../../../app/stylesheets/partials/_forms.sass */
body.admin form.bp, body.admin h1.form-header {
  width: 650px;
}
/* line 115, ../../../app/stylesheets/partials/_forms.sass */
body.admin label {
  width: 210px;
}
/* line 117, ../../../app/stylesheets/partials/_forms.sass */
body.admin p.no-label, body.admin .no-label, body.admin p.info {
  margin-left: 235px;
}
/* line 120, ../../../app/stylesheets/partials/_forms.sass */
body.admin p.prompt {
  width: 650px;
  margin: 0 0 0.33em;
  text-align: right;
}
/* line 124, ../../../app/stylesheets/partials/_forms.sass */
body.admin p.prompt a {
  background: url(../../images/right_arrow.gif) no-repeat 100% 0.45em;
  padding-right: 14px;
}

 /*Rails default error summary
--------------------------------------------- */
/* line 3, ../../../app/stylesheets/partials/_errors.scss */
.field_with_errors {
  display: inline;
}

/* line 6, ../../../app/stylesheets/partials/_errors.scss */
.field_with_errors input, .field_with_errors select, .field_with_errors textarea {
  border: 1px solid #B60040;
}

/* line 9, ../../../app/stylesheets/partials/_errors.scss */
#errorExplanation {
  padding: 0.5em;
  border: 1px solid #B60040;
  background: #FFDCE8;
  margin: 0 0 30px;
}

/* line 15, ../../../app/stylesheets/partials/_errors.scss */
#errorExplanation h2 {
  color: #B60040;
  margin: 5px 0;
  border: none;
  font-size: 1.1em;
  padding: 0;
}

/* line 23, ../../../app/stylesheets/partials/_errors.scss */
#errorExplanation p {
  color: #4B4742;
  margin-bottom: 5px;
}

/* line 28, ../../../app/stylesheets/partials/_errors.scss */
#errorExplanation ul {
  list-style: disc;
  margin-left: 15px;
}

/* line 32, ../../../app/stylesheets/partials/_errors.scss */
#errorExplanation li {
  color: #B60040;
  padding: 5px 0;
  font-size: 1em;
}

/* line 2, ../../../app/stylesheets/partials/_tables.scss */
table.admin {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 0.8em;
  width: 650px;
}
/* line 8, ../../../app/stylesheets/partials/_tables.scss */
table.admin th {
  font-size: 0.9em;
  font-weight: normal;
  padding: 8px;
  background: #b9c9fe;
  border-top: 2px solid #00316a;
  border-bottom: 1px solid #fff;
  color: #00316a;
}
/* line 19, ../../../app/stylesheets/partials/_tables.scss */
table.admin td {
  padding: 8px;
  font-size: 0.9em;
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
}
/* line 29, ../../../app/stylesheets/partials/_tables.scss */
table.admin td.action {
  text-align: right;
}
/* line 34, ../../../app/stylesheets/partials/_tables.scss */
table.admin td.icon {
  width: 20px;
}
/* line 39, ../../../app/stylesheets/partials/_tables.scss */
table.admin tr:hover td {
  background: #d0dafd;
  color: #339;
}

/* line 23, ../../../app/stylesheets/screen.scss */
h1, h2, h3 {
  margin: 0.75em 0;
}

/* line 27, ../../../app/stylesheets/screen.scss */
h1 {
  font-size: 2em;
}

/* line 31, ../../../app/stylesheets/screen.scss */
h2 {
  font-size: 1.75em;
}

/* line 35, ../../../app/stylesheets/screen.scss */
h3 {
  font-size: 1.5em;
}

/* line 39, ../../../app/stylesheets/screen.scss */
a {
  text-decoration: none;
}

/* line 43, ../../../app/stylesheets/screen.scss */
#header {
  margin: 20px 0;
}

/* line 47, ../../../app/stylesheets/screen.scss */
input {
  margin: 1em 0;
}

/* line 51, ../../../app/stylesheets/screen.scss */
.pagination {
  margin: 1em 0.5em;
  background: silver;
  padding: 1em 2em;
  color: #444;
  border: 1px solid gray;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 62, ../../../app/stylesheets/screen.scss */
.pagination a {
  color: #222;
}

/* line 66, ../../../app/stylesheets/screen.scss */
.pagination em {
  font-size: 1.3em;
  color: #000;
}

/* line 71, ../../../app/stylesheets/screen.scss */
p {
  margin: 1.5em 0;
}

/* line 75, ../../../app/stylesheets/screen.scss */
table.edit th {
  font-weight: bold;
}

/* line 79, ../../../app/stylesheets/screen.scss */
table.edit th, table.edit td {
  padding: 2px 4px;
}

/* line 83, ../../../app/stylesheets/screen.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* Assignment Submissions */
/*.mass_edit{
	padding: 1em 0;
	margin: 0.75em 0;
	border-bottom: 1px solid #002E6E;
}*/
/* IRC Logs */
/* line 98, ../../../app/stylesheets/screen.scss */
table.messages {
  margin-left: 1em;
  width: 98%;
}

/* line 103, ../../../app/stylesheets/screen.scss */
table.messages td.handle {
  padding-right: 1em;
  color: #555;
  vertical-align: top;
  width: 140px;
}

/* line 110, ../../../app/stylesheets/screen.scss */
table.messages td.recorded_at {
  vertical-align: top;
  color: gray;
  text-align: right;
  width: 150px;
}

/* line 117, ../../../app/stylesheets/screen.scss */
table.messages td.body {
  vertical-align: top;
  max-width: 650px;
}

/* line 122, ../../../app/stylesheets/screen.scss */
table.messages td {
  padding-bottom: 0.25em;
}
