@mixin delete($font_size = 1em) {
  padding: 0 0 0 16px;
  background: url(../../images/minus.png) no-repeat left center;
  color: #70130B;
  font-size: $font_size;
}


a.delete {
  @include delete;
  }