#comments
  .comment
    margin: 20px 0
    border-bottom: 1px solid #ccc
    
    .author
      float: right
      padding: 5px
      
      img
        vertical-align: middle
        margin-right: 5px
        
  form.new_comment
    textarea
      height: 100px
    input[type='submit']
      float: right