#reviews, #courses
  .review, .course
    border-bottom: 1px solid #eee
    margin-bottom: 1em
    padding-bottom: 1em
    
    div
      display: inline-block
    .user, .name
      font-size: 1.25em
    .status, .start_end
      float: right
      
#assignments
  .assignment
    border-bottom: 1px solid #eee
    margin-bottom: 1em
    padding-bottom: 1em
    
    .name
      font-size: 1.25em
      display: inline-block
      
    .recent
      margin: 0.75em
      .activity
        margin: 0.25em 0
