.course-two-col
  +container
  
  #course_header
    +column(24, true)
    
    border-bottom: 1px solid #ddd
    padding: 1em 0 1.5em
    
    h1
      margin: 0
      
  #breadcrumbs
    +column(24, true)
    padding: 0.5em 1em
    background: #eee
    border-bottom: 1px solid #ddd
    
  div.nav
    +column(4)
    
    li
      font-size: 1.25em
      margin: 0.5em 0
      
      &:first-child
        margin-top: 0
      
      a
        display: block
        padding: 0.75em
        
        &:hover
          background-color: #ddd
          
        &.selected
          background-color: #ddd
        
  div.main
    +column(20, true)
    
    #bucket
      border-left: 1px solid #ddd
      padding: 1em 0 1em 1em
      min-height: 250px
      
  div.nav, #bucket
    padding-top: 1em
  
  td.status
    font-size: 0.8em !important
    
  #description
    +markdown
    p
      margin-top: 0
      
  h2.header
    border-top: 1px solid #eee
    padding: 0.5em 0
    font-size: 1.5em
    color: #666
    
    .controls
      display: inline-block
      float: right
      
      input
        margin: 0
        
  #notes
    +markdown
    
#documents.bucket
  .document
    margin-bottom: 1.25em
    a
      font-size: 1.25em
      line-height: 1.5em
      display: block
      
#assignments.bucket
  .assignment
    margin-bottom: 1.25em
    a
      font-size: 1.25em
      line-height: 1.5em
      display: block
 
#directory.bucket
  border-top: none
  
  .pagination
    border-top: none
  
  #directory_search
    border-bottom: 1px solid #ddd
    
    label.infield
      top: 6px
      left: 8px
      
    input
      margin-top: 0
    
    input[type="submit"]
      float: none
      margin-left: 1em
      
#submission h2.header
  border-top: 0
  margin-top: 0
  

#submissions, #courses
  .label
    margin: 1em 0
    color: #888

  .submission, .course
    border-bottom: 1px solid #eee
    margin-bottom: 1em
    padding-bottom: 1em
    
    div
      display: inline-block
    .user, .name
      font-size: 1.25em
    .status, .start_end
      float: right
      
    &.archived
      .name
        font-size: 1em
      
#submissions
  border-left: 1px solid #eee
  border-right: 1px solid #eee
  margin-bottom: 1em
  
  .header
    background-color: #eee
    padding: 0.5em 0.25em
    font-size: 1.1em

  .assignment, .submission, .status
    border-bottom: 1px solid #eee
    padding: 0.5em 0.25em
    
#submissions
  .submission
    padding-left: 1em
    &.current
      background-color: #9ab6d0
  
  .status
    border-color: #999
    color: #333
    .box
      display: inline-block
      -moz-border-radius: 3px
      width: 10px
      height: 10px
      border: 1px solid #000
      margin-right: 0.5em
      
form.edit_assignment_submission
  margin: 1em 0
