$blueprint_grid_columns : 12
$blueprint-container-size : 930px
$blueprint-grid-width : 67.5px
$blueprint_grid_outer_width: 67.5px

.two-col
  +container
  div.main
    +column(12, true)
  div.left
    +column(6)
    +append(1)
  div.right
    +column(5, true)
    
  div.left, div.right
    h4
      margin: 1em 0
      font-size: 1.25em
      
  ul li
    margin-bottom: 0.25em

.profile
  border-bottom: 1px solid silver
  padding: 15px 0
  
  .block
    
    float: right
  
  h1
    margin: 0
    display: inline-block
    
    img
      vertical-align: middle
      padding: 2px
      border: 1px solid
      border-color: #CBCBCB
      +border-radius(4px, 4px)
      background-color: #CBCBCB
      margin-right: 10px

.channel
  margin-bottom: 0.5em
  
  .title
    border-bottom: 2px groove
    border-color= $rmu_red
    margin-bottom: 0.25em
    padding-bottom: 3px
    
    a
      display: inline-block
      color: #000
      
    span.right
      float: right
      font-size: 0.75em
      vertical-align: bottom
      margin-top: 0.25em
      color: #555
    
  .message
    margin-left: 10px
  
    .handle
      display: inline-block
      padding-right: 1em
      color: #555
      vertical-align: top
      width: 100px
    .body
      display: inline-block
      width: 320px
      
.assignment
  margin-bottom: 0.25em
  border-bottom: 1px solid #fff
  
  .right
    float: right
    
.blog ul
  margin-left: 20px
  list-style-type: disc
  
table.status
  width: 100%
  
  border-collapse: collapse
  
  td, th
    padding: 3px 5px
    border: 1px solid #bbb
    border-style: collapse
    
    &.status
      text-align: center
  
  th.cu
    font-style: bold
    font-size: 1.25em
    padding: 10px
  
  td
    color: gray