#directory
  border-top: 1px solid #ddd
  .user
    padding: 0.5em 0
    clear: both

    &:hover
      background-color: #eee

    cursor: pointer

    .name
      color: #222
      font-size: 1.25em
      padding-top: 5px

      span.nickname
        color: #999

    .icon
      float: left
      padding: 5px
      margin-right: 10px
      img
        +box-shadow(#000, 0px, 0px, 5px)
    .since
      font-size: 0.75em
      margin-top: 0.5em
      color:  #777

    .timezone
      font-size: 0.75em
      margin-top: 0.1em
      color:  #777

  hr
    border: none
    background: #ddd
    color: #ddd
    margin: 0
    height: 1px

#directory_search
  position: relative

  input, select
    padding: 2px 4px
    float: none
    margin-right: 4px

  label.infield
    width: auto
    float: none
    color: #999
    position: absolute
    top: 15px
    left: 6px
    font-weight: normal
    margin: 0