form.bp
  +blueprint-form
  
  width: 450px
  
  label
    display: inline-block
    width: 125px
    &:after
      content: ":"
      
  p
    margin: 0.25em 0
    
  input[type="submit"]
    float: right
    margin: 0.5em 10px