$rmu_blue= #00316a
$rmu_yellow= #fbe482
$rmu_red= #70130B

body
  font-family: "lucida grande", "Lucida Sans", "Helvetica", sans-serif
  font-size: 12px
  line-height: 1.24em
  background-color: #f9f9f9
  color: #292929

#wrap
  margin-top: 1em
  padding: 0 20px 20px

.constrained
  max-width: 1500px
  min-width: 680px
  margin: 0 auto

#header
  background-color: #710F0A
  +linear-gradient(color-stops(#C90C0E, #90130C))
  
  padding: 1em 20px
  
  h1
    color: #fff
    font-family: "ThryomanesNormal","Baskerville Old Face","Century Schoolbook","Tw Cen MT", serif
    letter-spacing: 3px
    display: inline-block
    margin: 0.25em 0
    +text-shadow(#111, 0, -1px)
    font-size: 2.5em
    
  #user
    color: #fff
    float: right
    padding: 5px 10px
    +border-radius(3px)
    background-color: #8B0808
    +box-shadow(#5F0707, 0, -1px, 1px)
    a
      color: #fff
    img.gravatar
      vertical-align: middle
      margin-right: 5px
    
#nav
  background-color: #256188
  color: #fff
  padding: 0.75em 20px
  +box-shadow(#333, -2px, -1px, 0, 2px)
  
  ul
    list-style: none outside none
    
    li
      display: inline
      float: left
      list-style-image: none
      list-style-type: none
      margin-right: 1em
      white-space: nowrap
    
      a
        color: #fff
        padding: 2px 10px
        display: inline-block
        font-size: 1.25em
        
        &.first
          padding-left: 0px

a
  color: #184FA0
  &:visited
    color: #184FA0
  &:hover
    color: #000
    
img.drop
  margin-left: 5px