$rmu_blue= #00316a
$rmu_yellow= #fbe482
$rmu_red= #70130B

body
  font-family: "lucida grande", "Lucida Sans", "Helvetica", sans-serif
  font-size: 12px

.container
  margin: 0 auto
  width: 950px

#header
  border-bottom: 15px solid #404040

a
  color: #002E6E
  &:visited
    color: #002E6E
  &:hover
    color: #000