#navigation
  background: #eee
  padding: 10px
  color: silver
  +box-shadow(#000, 0px, 0px, 5px)
  width: 950px
  position: fixed
  
  form
    display: inline-block
    
    input
      margin: 0
  
  .logo
    display: inline-block
    margin-right: 8px
    color: gray
    +text-shadow(0, 1px, 0, #fff)
    
    img
      vertical-align: middle
  a 
    color: #000
    padding: 4px 8px
    &:visited
      color: #000
    &:hover
      color: #002E6E
    
  a.session
    color: gray
    &:hover
      color: #000
        
  span.right
    float: right
    
  #notice
    color: #000
    background-color: #eee