table.progress_report
  width: 100%
  margin: 1em 0

  border-collapse: collapse

  th.assignment
    text-align: center

  td, th
    padding: 4px 5px
    border-style: collapse
    border-bottom: 1px solid #bbb

    a.status
      text-align: left
      padding: 6px
      border: none
      display: block
      color: #333

      &.review
        font-weight: bold
        border: 2px solid

  th.cu
    font-style: bold
    font-size: 1.25em

  td
    color: #444

  tr.toggle
    background-color: #eee