table.progress_report
  width: 100%
  margin: 1em 0

  input[type="submit"]
    font-size: 0.7em
    margin: 0.5em 0
    float: none

  border-collapse: collapse

  td, th
    padding: 4px 5px
    border-style: collapse
    border-bottom: 1px solid #bbb

    div.status
      text-align: left
      padding: 6px

      hr
        color: #ccc
        background: #fff

  th.cu
    font-style: bold
    font-size: 1.25em
    padding: 10px

  td
    color: #444
    font-size: 0.9em

  tr.toggle
    background-color: #eee