.anchor Administration
= link_to "Users", admin_users_path
= link_to "Courses", admin_courses_path
= link_to "Exams", admin_exams_path
|
= link_to "Submission Statuses", admin_submission_statuses_path