html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: "" "";
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

a img {
  border: none;
}

html, body {
  height: 100%;
}

body {
  font-family: "Gill Sans", "Tacoma", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #00316a;
}

#container {
  width: 970px;
  margin: 0 auto;
  border-left: 40px solid #fbe482;
  border-right: 40px solid #fbe482;
  min-height: 100%;
  background-color: white;
}

#content {
  padding: 10px 0;
  margin: 0 auto;
  width: 930px;
}

h1, h2, h3 {
  margin: 0.75em 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

#header {
  margin: 20px 0;
}

.channel {
  margin: 1em;
}

.channel a {
  display: inline-block;
  font-size: 1.25em;
  color: black;
  margin: 0.25em 0;
  margin-bottom: 0.5em;
  padding-bottom: 4px;
  border-bottom: 2px solid #00316a;
}

.channel a:hover {
  border-color: #fbe482;
}

.channel .message {
  margin: 0.25em 1em;
}

input{
	margin: 1em 0;
}
