html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: "" "";
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

a img {
  border: none;
}

html, body {
  height: 100%;
}

body {
  font-family: "Gill Sans", "Tacoma", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #00316a;
}

#container {
  width: 970px;
  margin: 0 auto;
  border-left: 40px solid #fbe482;
  border-right: 40px solid #fbe482;
  min-height: 100%;
  background-color: white;
}

#content {
  padding: 10px 0;
  margin: 0 auto;
  width: 930px;
}

h1, h2, h3 {
  margin: 0.75em 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

#header {
  margin: 20px 0;
}

input{
	margin: 1em 0;
}

.pagination{
	margin: 1em 0.5em;
	background: silver;
	padding: 1em 2em;
	color: #444;
	border: 1px solid gray;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.pagination a{
	color: #222;
}

.pagination em{
	font-size: 1.3em;
	color: #000;
}

p{
	margin: 1.5em 0;
}

table.edit th{
	font-weight: bold;
}

table.edit th, table.edit td{
	padding: 2px 4px;
}

/* Navigation */

#navigation{
	background: #eee;
	padding: 10px;
	border-bottom: 1px solid silver;
	color: silver;
}

#navigation a { color: #000; padding: 4px 8px; }
#navigation a:visited { color: #000; }
#navigation a:hover { color: #002E6E;}
#navigation a.session { color: gray; }
#navigation a.session:hover { color: #000; }

span.right { float: right; }

a { color: #002E6E; }
a:visited { color: #002E6E; }
a:hover { color: #000; }

/* Assignment Submissions */

.mass_edit{
	padding: 1em 0;
	margin: 0.75em 0;
	border-bottom: 1px solid #002E6E;
}

/* Dashboard */

.box{
	display: inline-block;
	width: 420px;
	float: left;
	margin-right: 1em;
}

.channel {
  margin: 1em;

}

.channel h4{
  display: inline-block;
  font-size: 1.25em;
  color: black;
  margin: 0.25em 0;
  margin-bottom: 0.5em;
  padding-bottom: 4px;
}

.channel a:hover {
  border-bottom: 2px solid #00316a;
}

.channel .right{
	float: right;
	font-size: 0.75em;
	vertical-align: bottom;
}

/* IRC Logs */

table.messages {
  margin-left: 1em;
	width: 98%;
}

table.messages td.handle {
	padding-right: 1em;
	color: #555;
	vertical-align: top;
	width: 140px;
}

table.messages td.recorded_at{
	vertical-align: top;
	color: gray;
	text-align: right;
	width: 150px;
}

table.messages td.body{
	vertical-align: top;
	max-width: 650px;
}

table.messages td{
	padding-bottom: 0.25em;
}