- date = message_date(message)
- if date
  %tr.date
    %td{:colspan=>3}= date
%tr.message
  %td.handle= message.display_name
  %td.body{ :class => ('action' if message.action?)}
    = sanitize(auto_link(highlight(message.body,params[:highlight].try(:split)), :html => { :target => '_blank' }))
  %td.recorded_at= message_time message
