%tr.message
  %td.handle= "#{message.handle.name}:"
  %td.body{ :class => ('action' if message.action?)}
    = sanitize(auto_link(highlight(message.body,params[:search].split), :html => { :target => '_blank' }))
  %td.recorded_at= message_time message
