- content_for :header_bottom do
  :javascript
    $(document).ready(function(){
      $.scrollTo('#bottom', { axis: 'y' });
    });

%h1 IRC Log

- if @more_messages
  %p= link_to "Load all messages", chat_messages_path(:channel => params[:channel], :full_log => true)

%table.messages
  - @messages.reverse.each do |message|
    = render :partial => "display", :locals => {:message => message}
    
#bottom