- content_for :header_bottom do
  :javascript
    $(document).ready(function(){
      setTimeout("location.reload(true);", 5000);
    });

%h1 IRC Log

- @messages.each do |message|
  .message
    %b= message.handle.name
    %i= message.recorded_at
    = message.body