- content_for :header_bottom do
  :javascript
    $(document).ready(function(){
      $.scrollTo('#bottom', { axis: 'y' });
    });

%h1 IRC Log

%table.messages
  - @messages.reverse.each do |message|
    = render :partial => "display", :locals => {:message => message}
    
#bottom