%h1 Directory

#directory
  - @users.each do |user|
    .user
      .name
        .icon= image_tag user.gravatar_url(64)
        = user.name
        .since= user_since(user)
      
      .clear

= will_paginate @users