%h1.form-header Assignment Submission Statuses

%p.prompt  
  = link_to "Create Status", new_admin_assignments_submission_status_path

%table.admin
  %thead
    %tr
      %th Status
      %th 
  %tbody
    - @submission_statuses.each do |status|
      %tr
        %td= link_to status.name,
              edit_admin_assignments_submission_status_path(status)
        %td.action= link_to( "Destroy",
              admin_assignments_submission_status_path(status), 
              :confirm => "Are you sure you wish to delete this status?",
              :method => 'DELETE', :class=> "delete")