%h1 Assignment Submission Statuses
  
= button_to "Create Status", new_admin_assignments_submission_status_path, :method => :get

%table.edit
  %thead
    %tr
      %th Status
      %th 
  %tbody
    - @submission_statuses.each do |status|
      %tr{:class => cycle('even','odd')}
        %td= link_to status.name,
              edit_admin_assignments_submission_status_path(status)
        %td= link_to( "Destroy",
              admin_assignments_submission_status_path(status), 
              :confirm => "Are you sure you wish to delete this status?",
              :method => 'DELETE')