%h1.form-header New Assignment Submission Status

= form_for @submission_status, :html => {:class => "bp"},
  :url => admin_assignments_submission_statuses_path do |f|
  = render :partial => "form", :locals => {:f => f}