/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "blueprint/grid";
@import "blueprint/form";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/gradient";

@import "partials/layout";
@import "partials/flash";
@import "partials/dashboard";
@import "partials/menu";
@import "partials/session";
@import "partials/admin";
@import "partials/forms";
@import "partials/errors";
@import "partials/tables";
@import "partials/comments";
@import "partials/courses";

h1, h2, h3 {
  margin: 0.75em 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

#header {
  margin: 20px 0;
}

input{
	margin: 1em 0;
}

.pagination{
	margin: 1em 0.5em;
	background: silver;
	padding: 1em 2em;
	color: #444;
	border: 1px solid gray;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.pagination a{
	color: #222;
}

.pagination em{
	font-size: 1.3em;
	color: #000;
}

p{
	margin: 1.5em 0;
}

table.edit th{
	font-weight: bold;
}

table.edit th, table.edit td{
	padding: 2px 4px;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* Assignment Submissions */

/*.mass_edit{
	padding: 1em 0;
	margin: 0.75em 0;
	border-bottom: 1px solid #002E6E;
}*/

/* IRC Logs */

table.messages {
  margin-left: 1em;
	width: 98%;
}

table.messages td.handle {
	padding-right: 1em;
	color: #555;
	vertical-align: top;
	width: 140px;
}

table.messages td.recorded_at{
	vertical-align: top;
	color: gray;
	text-align: right;
	width: 150px;
}

table.messages td.body{
	vertical-align: top;
	max-width: 625px;
}

table.messages td{
	padding-bottom: 0.25em;
}