# Github authentication is required to access commit history for private repos
#
# To find your API Token, log into GitHub and visit this page:
#   https://github.com/account/admin

test:
    username:  username_goes_here
    api_token: api_token_goes_here

development:
    username:  username_goes_here
    api_token: api_token_goes_here

production:
    username:  username_goes_here
    api_token: api_token_goes_here


