#alumni
  - 7.times do |t|
    .alumnus
      .name 
        Jordan Byron
      
        .badge
          %img{:src => "http://www.gravatar.com/avatar/6d2661c5a65f24c8f0bb579b6e0a0d81?s=64"}
      
      .information
        .month October 2010
        .social
          %a{:href => "http://github.com/jordanbyron"}
            %img{:src => "/images/icons/social/github.png"}
          %a{:href => "http://www.twitter.com/jordan_byron"}
            %img{:src => "/images/icons/social/twitter.png"}
