.video_box
  :plain
    <object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/_cnaed9Twz8?fs=1&amp;hl=en_US&amp;rel=0&amp;hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed wmode="transparent" src="http://www.youtube.com/v/_cnaed9Twz8?fs=1&amp;hl=en_US&amp;rel=0&amp;hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
  %h2 Learning Ruby, one conversation at a time
  
#overview
  %a{:href=>"/about/courses.html"}
    .box
      %h3 Philosophy
  .info
    We provide top-notch technical training in an atmosphere that promotes intellectual curiosity, social responsibility, and getting things done.
  %a{:href=>"/resources/learning_materials.html"}
    .box
      %h3 Learning Resources
  .info
    We are committed to making our exams, exercises, and other learning materials freely available so that others can benefit from them.
  %a{:href=>"/resources/core_projects.html"}
    .box
      %h3 FOSS Projects
  .info
    We've made all the tooling we use to run RMU freely available, and many of our students have done the same with their class projects.
  .clear
  
%p.info
  We are not currently accepting new students, but stay tuned for announcements of new entrance exams and other public events on the
  %br
  %a{:href => "http://groups.google.com/group/rmu-talk"} RMU mailing list.