.video_box
  :plain
    <object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/R5WPZspC-L0?fs=1&amp;hl=en_US&amp;rel=0&amp;hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/R5WPZspC-L0?fs=1&amp;hl=en_US&amp;rel=0&amp;hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
  %h2 Ruby knowledge for all
  
#overview
  .box
    %h3 Contact
  .box
    %h3 Learning Resources
  .box
    %h3 Code