
//.picture
.video_box
  %a{:href => "http://university.rubymendicant.com/changelog/accepting-new-students-for-september-2011"}
    %img{:src => "/images/landing.png"}

#overview
  %a{:href=>"/about/courses.html"}
    .box
      %h3 Philosophy
  .info
    We give folks the tools and support they need to strike a nice balance between learning new things and getting stuff done.
  %a{:href=>"/resources/learning_materials.html"}
    .box
      %h3 Learning Resources
  .info
    We regularly release our exercises and other learning materials so that anyone interested in studying Ruby can benefit from them.
  %a{:href=>"/resources/student_projects.html"}
    .box
      %h3 Student Projects
  .info
    Our students have built a lot of great things through RbMU. Check out over 40 free software projects they've been working on.
  .clear

%h3.changelog
  Interested in keeping up with what we're doing? Check out our
  %a{:href=>"/changelog"} news page
  for the latest events and announcements.