!!! Strict
%html
  %head
    %title Ruby Mendicant University
    %link{:href=>"/stylesheets/public.css",:type=>"text/css",:rel=>"stylesheet"}
  %body
    #container
      #header
        
      #content= yield