%h1.form-header Edit Submission Status

= form_for @submission_status, 
  :url => admin_submission_status_path(@submission_status),
  :html => {:class => 'bp'} do |f|
  = render :partial => "form", :locals => {:f => f}