= form_tag search_course_path, :method => "get", :remote => true,
  :class => "bp search" do
  = text_field_tag :search, params[:search], :placeholder => "Search current course"
  = submit_tag 'Search', :class => "inline"
.clear
  
#search-results
