= form_tag search_course_path, :method => "get", :remote => true,
  do
  = label_tag :search, "Keyword",
    :class => "infield"
  = text_field_tag :search, params[:search]
  = submit_tag 'Search'
  
#search-results