%h1 Courses

This is a test.

#courses
  - if @courses.any?
    .label Active
  - @courses.each do |course|
    = render :partial => "course", :locals => { :course => course }
  
  - if @instructed.any?
    .label Teaching    
  - @instructed.each do |course|
    = render :partial => "course", :locals => { :course => course }
    
  - if @mentored.any?
    .label Mentoring    
  - @mentored.each do |course|
    = render :partial => "course", :locals => { :course => course }
  
