%h1.form-header Terms

%p.prompt
  = link_to "Create Term", new_admin_term_path

%table.admin
  %thead
    %tr
      %th Name
      %th Registration Open?
      %th 
  %tbody
    - @terms.each do |term|
      %tr{:class => cycle('even','odd')}
        %td= link_to term.name, edit_admin_term_path(term)
        %td= term.registration_open ? 'Yes' : 'No'
        %td.action= link_to("Destroy", admin_term_path(term), :confirm => "Are you sure you wish to delete this term?", :method => 'DELETE', :class => "delete")