= render :partial => "courses/assignments/menu"

%h1 Reviews

#reviews
  - @reviews.each do |review|
    = link_to review_path(review) do
      .review
        .user= review.submission.user.name
        .status= review.status