- title 'Edit User'

%h1.form-header Edit User

- nested_form_for @user, :url => admin_user_path(@user), :html => {:class => 'bp'} do |f|
  = render :partial => "form", :object => f
  %p.submit
    = f.submit "Update"
    = link_to "Cancel", admin_users_path, :class => "cancel"