- title 'New User'

%h1.form-header New User

- nested_form_for @user, :url => admin_users_path, :html => {:class => 'bp'} do |f|
  = render :partial => "form", :object => f
  %p.submit
    = f.submit "Create"
    = link_to "Cancel", admin_users_path, :class => "cancel"