-title 'New Course'

%h1.form-header New Course

- nested_form_for @course, :url => admin_courses_path, :html => {:class => "bp"} do |f|
  = render :partial => "form", :object => f

#submit_bar_padding
